* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: red;
}

.box:hover {
    animation-name: box;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes box {
    from {
        transform: translateY(-50%);
        height: 350px;
    } to {
        transform: translateY(0%);
    }
}